exclude liveness.py
exclude *.md
exclude *.sh
exclude thoth-adviser
exclude *.toml
exclude *.yaml
exclude tests/wraps/pytorch/test_mkl_threads.txt
exclude thoth/adviser/wraps/pytorch/mkl_threads.txt
include thoth/adviser/data/cpu_db.yaml
include LICENSE
include mypy.ini
include OWNERS
include Pipfile
include Pipfile.lock
include requirements.txt
include tests/data/constraints/*.txt
include tests/data/projects/dev/Pipfile
include tests/data/projects/dev/Pipfile.lock
include tests/data/projects/requirements.in
include tests/data/projects/requirements.txt
include tests/data/projects/Pipfile
include tests/data/projects/Pipfile_project0
include tests/data/projects/Pipfile_project1
include .s2i/bin/assemble
include .s2i/bin/run
include prepare.py
recursive-include docs *.dia
recursive-include docs *.gif
recursive-include docs *.html
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include openshift *.yaml
recursive-include tests *.lock
recursive-include tests *.py
recursive-include tests *.yaml
recursive-include workflows *.yaml
recursive-include thoth *.json
include OWNERS_ALIASES
