[[source]]
url ="https://tensorflow.pypi.thoth-station.ninja/index/manylinux2010/AVX2/simple/"
verify_ssl = true
name = "tf-redhat-aicoe"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
hypothesis-auto = "*"
hypothesis = "*"
flexmock = "*"
pytest-mypy = "*"
jsonpatch = "*"

[packages]
click = "*"
attrs = "*"
thoth-python = "*"
thoth-storages = "*"
contoml = "==0.30"
toml = "*"
thoth-solver = "*"
matplotlib = "*"
pyyaml = "*"
packaging = "*"
voluptuous = "*"
fext = ">=0.2.0"
tensorflow = {version="==2.2.0", index="tf-redhat-aicoe"}
jupyterlab = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = false
