[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
hypothesis-auto = "*"
hypothesis = "*"
flexmock = "<=0.10.4"
pytest-mypy = "*"
jsonpatch = "*"

[packages]
click = "*"
attrs = "*"
thoth-python = "*"
thoth-storages = "*"
contoml = "==0.30"
toml = "*"
thoth-solver = "*"
matplotlib = "*"
pyyaml = "*"
packaging = "*"
voluptuous = "*"
fext = ">=0.2.0"
termial-random = "*"
thoth-common = "*"
orjson = "*"
alembic = "==1.6.5"
prometheus-client = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
